@model PaintingViewModel

@{
    ViewData["Title"] = "Създай";
}

<h1>Създай</h1>

<h4>Картина</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedAuthor" class="control-label"></label>
                <select asp-for="SelectedAuthor" asp-items="Model.Authors" class="form-select">
                    <option value="0">Изберете автор</option>
                </select>
                <span asp-validation-for="SelectedAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input type="number" asp-for="ReleaseYear" min="1400" max="2025" value="2000" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGenre" class="control-label"></label>
                <select asp-for="SelectedGenre" asp-items="Model.Genres" class="form-select">
                    <option value="0">Изберете жанр</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedStyle" class="control-label"></label>
                <select asp-for="SelectedStyle" asp-items="Model.Styles" class="form-select">
                    <option value="0">Изберете стил</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedArtTechnique" class="control-label"></label>
                <select asp-for="SelectedArtTechnique" asp-items="Model.ArtTechniques" class="form-select">
                    <option value="0">Изберете техника</option>
                </select>
            </div>
            @* snimka *@
            @* <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div> *@
            <div class="input-group my-3">
                <label asp-for="SelectedFloorNumber" class="input-group-text"></label>
                <select asp-for="SelectedFloorNumber" asp-items="Model.FloorNumbers" class="form-select">
                    <option value="0">Изберете етаж</option>
                </select>
                <label asp-for="HallNumber" class="input-group-text"></label>
                <input type="number" asp-for="HallNumber" min="1" max="99" value="1" placeholder="##" class="form-control" />
                <span asp-validation-for="SelectedFloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
