@model PaintingAuthorViewModel

@{
    ViewData["Title"] = "Списък";
}

<h1>Списък</h1>

<form asp-action="Index" method="get">
    <div class="input-group my-3">
        <label class="input-group-text">Название</label>
        <input type="search" name="searched" placeholder="Потърси картина" />
        <button type="submit" class="btn btn-dark">
            Търси&nbsp;
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="input-group my-3">
        <label asp-for="AuthorId" class="input-group-text">Автор</label>
        <select asp-for="AuthorId" asp-items="Model.Authors" class="form-select">
            <option value="0">-- Избери --</option>
        </select>
        <button type="submit" class="btn btn-dark">
            Филтрирай&nbsp;
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

@if (User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create">Добави нова</a>
    </p>
}
